@model BestFor.Dto.Account.ProfileViewDto
@* Inject the service that allows searching for localized strings *@
@inject BestFor.Services.Services.IResourcesService resourcesService
@{
    // Read localized strings
    string stringEditProfile = await resourcesService.GetString(ViewBag.BestForCulture, "edit_profile");
    string stringYourProfile = await resourcesService.GetString(ViewBag.BestForCulture, "your_profile");
    string stringRemoveProfile = await resourcesService.GetString(ViewBag.BestForCulture, "remove_profile");

    ViewData["Title"] = stringYourProfile;
}
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="row">
            <label asp-for="UserName" class="col-md-3"></label><span class="col-md-9">@Model.UserName</span>
        </div>
        <div class="row">
            <label asp-for="DisplayName" class="col-md-3"></label><span class="col-md-9">@Model.DisplayName</span>
        </div>
        <div class="row">
            <label asp-for="NumberOfAnswers" class="col-md-3"></label><span class="col-md-9">@Model.NumberOfAnswers</span>
        </div>
        <br /><br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-9">
                <yakor y-culture="@this.ViewBag.BestForCulture" y-controller="Account" y-action="EditProfile"
                        y-class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true" />&nbsp;<span class="special_glyph_anchor">@stringEditProfile</span>
                </yakor>
            </div>
            <div class="col-md-1">
                <yakor y-culture="@this.ViewBag.BestForCulture" y-controller="Account" y-action="CancelProfile"
                       y-class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true" />&nbsp;<span class="special_glyph_anchor">@stringRemoveProfile</span>
                </yakor>
            </div>
        </div>
    </div>
</div>
