@model IEnumerable<BestFor.Dto.AnswerDto>
@Html.Partial("Menu")
@{
    int numberOfRecords = Model == null ? 0 : Model.Count();
}
<div>
    <h4>Answers with no User</h4>
    <hr />
    <table class="table">
        <tr><th colspan="4">Answers (@numberOfRecords)</th></tr>
        <tr><th>Left</th><th>Right</th><th>Phrase</th><th>Actions</th></tr>
        @if (Model != null)
        {
            foreach (var answer in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(x => answer.LeftWord)</td>
                    <td>@Html.DisplayFor(x => answer.RightWord)</td>
                    <td>@Html.DisplayFor(x => answer.Phrase)</td>
                    <td>
                        @Html.ActionLink("View", "GetAnswer", new { answerId = answer.Id })
                    </td>
                </tr>
            }
        }
    </table>
</div>
