@model BestFor.Dto.AnswerDto
@Html.Partial("Menu")
Showing answer info
<dl>
    <dt>Id</dt><dd>@Model.Id</dd>
    <dt>LeftWord</dt><dd>@Model.LeftWord</dd>
    <dt>RightWord</dt><dd>@Model.RightWord</dd>
    <dt>Phrase</dt><dd>@Model.Phrase</dd>
    <dt>Count</dt><dd>@Model.Count</dd>
    <dt>UserId</dt><dd>@Model.UserId</dd>
</dl>
<a asp-controller="Admin" asp-action="HideAnswer" asp-route-id="@Model.Id">Hide</a>
