<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div>
        @Html.Partial("TopMenu")&nbsp;
        @Html.Partial("CurrentUser")<br /><br />
    </div>

    @* Html.React("MenuControl", new { }) *@
    @RenderBody()
    @Html.Partial("BottomMenu")
    @* Give ability to pages to put scripts here. *@
    @RenderSection("scripts", required: false)
</body>
</html>
