<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @Html.React("MenuControl", new { })
    @RenderBody()
    <script src="https://fb.me/react-0.14.0.min.js"></script>
    <script src="https://fb.me/react-dom-0.14.0.min.js"></script>
    <script src="@Url.Content("~/Scripts/SuggestionControl.jsx")"></script>
    <script src="@Url.Content("~/Scripts/SuggestionLineItem.jsx")"></script>
    <script src="@Url.Content("~/Scripts/SuggestionResultList.jsx")"></script>
    <script src="@Url.Content("~/Scripts/SuggestionTextBox.jsx")"></script>
    <script src="@Url.Content("~/Scripts/SuggestionAnswerList.jsx")"></script>
    <script src="@Url.Content("~/Scripts/SuggestionPanel.jsx")"></script>
    <script src="@Url.Content("~/Scripts/MenuControl.jsx")"></script>
    @Html.ReactInitJavaScript()
</body>
</html>
