<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div>
        @Html.Partial("TopMenu")&nbsp;
        @Html.Partial("CurrentUser")<br /><br />
    </div>
    @* Keep the amount of scripts loaded in this section to minimum *@
    @RenderSection("TopScripts", required: false)
    @* Main section view *@
    @RenderBody()
    @* Bottom menu *@
    @Html.Partial("BottomMenu")
    @* Give ability to pages to put scripts here. *@
    @RenderSection("Scripts", required: false)
</body>
</html>
