@*Inject the service that allows searching for localized strings *@
@inject BestFor.Services.Services.IResourcesService resourcesService
@{
    string siteDescription = await resourcesService.GetString(ViewBag.BestForCulture, "site_description");
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - www.completeopinion.com</title>
    <meta name="description" content="@siteDescription" />
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:site_name" content="completeopinion" />
    @RenderSection("MetaKeyword", required: false)
    @*<!--<link rel="alternate" href="http://www.apple.com/ae-ar/ipad/" hreflang="ar-AE" />
    <link rel="alternate" href="http://www.apple.com/ae/ipad/" hreflang="en-AE" />-->*@
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <script type="application/ld+json">
        {
            "@@context": "http://schema.org",
            "@@type": "WebSite",
            "name": "completeopinion",
            "url": "http://www.completeopinion.com/"@*,
    "sameAs":[
    "https://www.facebook.com/pages/UncommonGoods/44340057816",
    "http://www.twitter.com/uncommongoods",
    "http://pinterest.com/uncommongoods",
    "http://instagram.com/uncommongoods",
    "https://plus.google.com/+uncommongoods",
    "https://en.wikipedia.org/wiki/UncommonGoods"
    ],
    "potentialAction": {
    "@type": "SearchAction",
    "target": "http://www.uncommongoods.com/search.html/find/?q={q}",
    "query-input": {
    "@type": "PropertyValueSpecification",
    "valueRequired": true,
    "valueMaxlength": 100,
    "valueName": "q"
    }
            }*@
        }
    </script>

</head>
<body>
    @* We are going with container, not container-fluid at least for now because container has a fixed width. *@
    @* Container-fluid takes the whole width. *@
    <div class="container best-margin-top best-theme-color">
        @Html.Partial("TopMenu")
        @* This section is only filed in on the home page.*@
        @RenderSection("TopCenter", required: false)
        @Html.Partial("CurrentUser")
    </div>
    <environment names="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @* Keep the amount of scripts loaded in this section to minimum *@
    @RenderSection("TopScripts", required: false)
    <div class="container">
        @* Main section view *@
        @RenderBody()
    </div>
    <div class="container">
        <br />
        @* Show trending overall on all the pages using view component *@
        @*await Component.InvokeAsync("TrendingOverallOpinion")*@
        @await Component.InvokeAsync("TopPosters")
        @* Bottom menu *@
        @Html.Partial("BottomMenu")
    </div>
    @* Give ability to pages to put scripts here. *@
    @RenderSection("Scripts", required: false)
</body>
</html>
