@{
    ViewBag.Title = "Tests. Index.";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Tests.</p>
@Html.ActionLink("SuggestionLineItem", "SuggestionLineItem", "Tests")<br />
@Html.ActionLink("SuggestionResultList", "SuggestionResultList", "Tests")<br />
@Html.ActionLink("SuggestionTextBox", "SuggestionTextBox", "Tests")<br />
@Html.ActionLink("SuggestionControl", "SuggestionControl", "Tests")<br />
@Html.ActionLink("SuggestionAnswerList", "SuggestionAnswerList", "Tests")<br />
