@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // ViewBag.Title = "Home Page";
}
<html>
<head>
    <title>Hello React</title>
</head>
<body>
    <div style="text-align:center;padding-top:150px">
        @Html.React("SuggestionControl", new { suggestionsUrl = "/api/suggestion" }, "span")
        @Html.React("SuggestionControl", new { suggestionsUrl = "/api/suggestion" }, "span")
    </div>
    <script src="https://fb.me/react-0.14.0.min.js"></script>
    <script src="https://fb.me/react-dom-0.14.0.min.js"></script>
    <script src="@Url.Content("~/Scripts/SuggestionControl.jsx")"></script>
    <script src="@Url.Content("~/Scripts/SuggestionLineItem.jsx")"></script>
    <script src="@Url.Content("~/Scripts/SuggestionResultList.jsx")"></script>
    <script src="@Url.Content("~/Scripts/SuggestionTextBox.jsx")"></script>
    @Html.ReactInitJavaScript()
</body>
</html>